/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232e7d32' fill-opacity='0.37'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    color: #ffffff; /* Белый текст */
    background-size: 5%; /* Уменьшение размера фона */
    background-position: center; /* Центрирование фона */
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 42, 42, 0.3);
    z-index: -1;
}
/* Шапка */
header {
    background-color: #333; /* Темный фон для шапки */
    padding: 5px 3%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

}
.logo {
    margin-right: 21px; /* Логотип прижимается к левому краю */
    transition: transform 0.4s ease; /* Плавный переход для анимации */
}

.logo img {
    height: 40px; /* Высота логотипа */
    width: auto;
    transition: transform 0.4s ease; /* Плавный переход для анимации */
}

.logo:hover img {
    transform: scale(1.2); /* Увеличение логотипа на 10% при наведении */
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 20gd; /* Отступ от логотипа */
}

.menu ul li {
    margin-right: 40px;
}

.menu ul li:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 25px; /* Увеличиваем размер шрифта */
    padding: 10px 15px; /* Добавляем отступы внутри кнопок */
    transition: color 0.3s, background-color 0.5s;
    border-radius: 5px; /* Закругляем углы */
}

.menu ul li a:hover {
    color: #ffcc00; /* Желтый цвет при наведении */
    background-color: #4444; /* Легкий фон при наведении */
}

.auth {
    display: flex;
    gap: 10%;
}
.username {
    color: #ffffff; /* Белый текст */
    margin-right: 10px; /* Отступ от кнопки "Выйти" */
    font-size: 22px;
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: 700; /* Жирный шрифт для соответствия стилю */
    transition: color 0.3s; /* Плавный переход для цвета */
}

.username:hover {
    color: #ffcc00; /* Цвет при наведении */
}
.auth-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #555; /* Темный фон кнопки */
    color: #ffffff; /* Белый текст */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px; /* Отступ между кнопками */
}

.auth-button:hover {
    background-color: #777; /* Светлее при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Основной контент */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Подвал */
footer {
    background-color: #333;
    padding: 1vh; /* Отступы относительно высоты экрана */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5vh; /* Высота футера относительно высоты экрана */
    font-size: 1.3vh; /* Размер шрифта относительно высоты экрана */
    display: flex;
    align-items: center; /* Выравнивание текста по центру по вертикали */
    justify-content: center; /* Выравнивание текста по центру по горизонтали */
}
.spacer {
    flex-grow: 1; /* Занимает всё свободное пространство */
}

.search {
    display: flex;
    align-items: center;
    margin-right: 100px; /* Отступ от кнопок авторизации */
}

.search-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #555;
    border-radius: 5px 0 0 5px; /* Закругляем левые углы */
    background-color: #444;
    color: #ffffff;
    outline: none;
    width: 200px; /* Ширина поля ввода */
    transition: border-color 0.3s;
}

.search-input::placeholder {
    color: #aaa; /* Цвет текста placeholder */
}

.search-input:focus {
    border-color: #ffcc00; /* Подсветка при фокусе */
}

.search-button {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    background-color: #555;
    color: #ffffff;
    border: 2px solid #555;
    border-radius: 0 5px 5px 0; /* Закругляем правые углы */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
    background-color: #777; /* Светлее при наведении */
    border-color: #777;
}

.search-input {
    transition: width 0.3s, border-color 0.3s;
}

.search-input:focus {
    width: 300px; /* Расширяем поле при фокусе */
}

/* Контейнер для основного контента и боковой колонки */
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto; /* Центрируем контейнер */
    padding: 0 20px;
    position: relative;
}

.create_post:hover img {
    transform: scale(1.2); /* Увеличение логотипа на 10% при наведении */
}



.create_post img {
    width: 50px; /* Фиксированная ширина */
    height: 50px; /* Фиксированная высота */
    position: fixed;
    right: 25%; /* Отступ в процентах */
    top: 100px; /* Фиксированный отступ */
    transition: transform 0.4s ease;
}



/* Основной контент */

html {
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: #ffcc00 rgba(42, 42, 42, 0.3); /* Для Firefox */
}

/* Стилизация для WebKit-браузеров (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
    width: 45px; /* Ширина вертикального scrollbar */
}

html::-webkit-scrollbar-track {
    background: rgba(42, 42, 42, 0.1); /* Цвет фона трека */
    border-radius: 10px; /* Закругленные углы трека */
}

html::-webkit-scrollbar-thumb {
    background: #ffcc00; /* Цвет ползунка */
    border-radius: 10px; /* Закругленные углы ползунка */
    border: 10px solid rgba(42, 42, 42, 0.1); /* Граница ползунка */
}

html::-webkit-scrollbar-thumb:hover {
    background: #e6b800; /* Цвет ползунка при наведении */
}

.post {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444; /* Разделитель между постами */
}
.post h1 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 10px;
}

.post p {
    line-height: 1.6;
    color: #ffffff;
    margin: 15px 0;
    font-size: 20px;
    text-align: justify;
    text-align-last: left; /* Последняя строка выравнивается по левому краю */
    hyphens: auto; /* Автоматический перенос слов */
    -ms-hyphens: auto;
}

.post ul, .post ol {
    text-align: left; /* Отмена выравнивания по ширине для списков */
    padding-left: 50px; /* Добавляем отступ для списков */
}

.post li {
    margin-bottom: 15px; /* Отступ между элементами списка */
}
.post-meta {
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Выравниваем элементы по вертикали */
    font-size: 14px;
    color: #aaa;
    opacity: 0.8;
}
.post-meta-right {
    margin-left: auto;
    text-align: right; /* Выравниваем текст по правому краю */
}
.post-date {
    margin-right: 10px; /* Отступ между датой и автором */
}
.post-edit-icon {
    display: flex; /* Используем flexbox для иконок */
    gap: 15px;
}

.post-edit-icon a,
.post-edit-icon button {
    display: inline-block; /* Чтобы ссылки и кнопки вели себя как блоки */
}
.post-edit-icon a img,
.post-edit-icon button img {
    transition: transform 0.3s ease; /* Плавное увеличение при наведении */
}
.post-edit-icon a:hover img,
.post-edit-icon button:hover img {
    transform: scale(1.2); /* Увеличение иконки на 20% */
}
.post-author a {
    color: inherit; /* Убирает синий цвет и наследует цвет родительского элемента */
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block; /* Делаем элемент строчно-блочным */
}

.post-author a:hover {
    transform: scale(1.3); /* Увеличение при наведении */
}

.main-content h1 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 20px;
}
.main-content p {

    line-height: 1.6;
    color: #ffffff;
    margin: 15px 0;
    font-size: 22px;
    text-align: justify;
    text-align-last: left; /* Последняя строка выравнивается по левому краю */
    hyphens: auto; /* Автоматический перенос слов */
    -ms-hyphens: auto;
}

/* Боковая колонка */

.main-content {
    flex: 1;
    max-width: 70%; /* Ширина в процентах */
    background-color: rgba(42, 42, 42, 0.3);
    padding: 20px; /* Фиксированные отступы */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    overflow-y: auto;
    animation: fadeIn 0.5s ease-in-out;
}

.sidebar {
    width: 250px; /* Боковая колонка занимает 1 часть */
    order: 1; /* Перемещаем колонку влево */
    background-color: rgba(42, 42, 42, 0.3); /* Темный фон */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed; /* Фиксируем сайдбар */
    left: 20px; /* Отступ от левого края */
    top: 100px; /* Отступ сверху (под шапкой) */
    animation: fadeIn 0.2s ease-in-out;
}
.sidebar h2 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff; /* Белый текст */
    font-size: 22px;
    transition: color 0.3s;
}
.sidebar ul li a.active {
    font-weight: bold;
    color: #ffcc00; /* Желтый цвет для активной ссылки */
    border-radius: 5px;
    padding: 5px 10px;
}

.sidebar ul li a:hover {
    color: #ffcc00; /* Желтый цвет при наведении */
}
.posts-sidebar {
    width: 250px; /* Боковая колонка занимает 1 часть */
    background-color: rgba(42, 42, 42, 0.3); /* Темный фон */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed; /* Фиксируем сайдбар */
    left: 300px; /* Отступ от левого края */
    top: 200px; /* Отступ сверху (под шапкой) */
    animation: fadeIn 0.2s ease-in-out;
}
.posts-sidebar h2 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 20px;
}

.posts-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.posts-sidebar ul li {
    margin-bottom: 10px;
}

.posts-sidebar ul li a {
    text-decoration: none;
    color: #ffffff; /* Белый текст */
    font-size: 22px;
    transition: color 0.3s;
}
.posts-sidebar ul li a.active {
    font-weight: bold;
    color: #ffcc00; /* Желтый цвет для активной ссылки */
    background-color: rgba(255, 204, 0, 0.1); /* Легкий фон */
    border-radius: 5px;
    padding: 5px 10px;
}

.posts-sidebar ul li a:hover {
    color: #ffcc00; /* Желтый цвет при наведении */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.4s ease;
}

.modal-content {
    background-color: rgba(42, 42, 42, 0.3);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons button {
    padding: 10px 20px;
    background-color: #555;
    color: #ffffff; /* Белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons button:hover {
    background-color: #777; /* Светлее при наведении */; /* Легкий фон при наведении */

}



/* Рамка для содержимого */
.logout-box {
    background-color: #2a2a2a; /* Темный фон */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    animation: fadeIn 0.5s ease-in-out;
}

/* Заголовок */
.logout-box h1 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 20px;
    font-size: 24px;
}

/* Текст */
.logout-box p {
    color: #ffffff; /* Белый текст */
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Кнопка "Войти снова" */
.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555; /* Темный фон кнопки */
    color: #ffffff; /* Белый текст */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.logout-button:hover {
    background-color: #777; /* Светлее при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Анимация для кнопки */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logout-box {
    animation: fadeIn 0.5s ease-in-out; /* Плавное появление */
}


/* Рамка для содержимого */
.login-box {
    background-color: #2a2a2a; /* Темный фон */
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
    margin: 0 auto;

}

/* Заголовок */
.login-box h1 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 20px;
    font-size: 24px;
}

/* Группа полей формы */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #ffffff; /* Белый текст */
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; /* Граница поля */
    border-radius: 5px;
    background-color: #444; /* Темный фон поля */
    color: #ffffff; /* Белый текст */
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #ffcc00; /* Подсветка при фокусе */
    outline: none;
}

/* Кнопка "Войти" */
.login-button {
    width: 30%;
    padding: 10px;
    background-color: #555; /* Темный фон кнопки */
    color: #ffffff; /* Белый текст */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
    background-color: #777; /* Светлее при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Ссылки под формой */
.login-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.login-links a {
    color: #ffcc00; /* Желтый цвет для ссылок */
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.3s;
}

.login-links a:hover {
    opacity: 0.8; /* Легкое затемнение при наведении */
}

/* Анимация для кнопки */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*форма для регистрации*/

/* Контейнер для страницы регистрации */

/* Рамка для содержимого */
.signup-box {
    background-color: #2a2a2a; /* Темный фон */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    animation: fadeIn 0.5s ease-in-out; /* Плавное появление */
}

/* Заголовок */
.signup-box h1 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 20px;
    font-size: 24px;
}

/* Группа полей формы */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #ffffff; /* Белый текст */
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; /* Граница поля */
    border-radius: 5px;
    background-color: #444; /* Темный фон поля */
    color: #ffffff; /* Белый текст */
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #ffcc00; /* Подсветка при фокусе */
    outline: none;
}
.required {
    color: #ff4444; /* Красный цвет для обязательных полей */
}

/* Подсказки под полями */
.form-text {
    color: #aaa; /* Серый цвет для подсказок */
    font-size: 12px;
    margin-top: 5px;
}

.form-text ul {
    margin: 5px 0 0 20px;
    padding: 0;
}

.form-text li {
    list-style-type: disc;
}


/* Кнопка "Зарегистрироваться" */
.signup-button {
    width: 50%;
    padding: 10px;
    background-color: #555; /* Темный фон кнопки */
    color: #ffffff; /* Белый текст */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.signup-button:hover {
    background-color: #777; /* Светлее при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Ссылки под формой */
.signup-links {
    margin-top: 20px;
    color: #ffffff; /* Белый текст */
    font-size: 14px;
}

.signup-links a {
    color: #ffcc00; /* Желтый цвет для ссылок */
    text-decoration: none;
    transition: opacity 0.3s;
}

.signup-links a:hover {
    opacity: 0.8; /* Легкое затемнение при наведении */
}

/* Блок для ошибок */
.error-message {
    background-color: #ff4444; /* Красный фон */
    color: #ffffff; /* Белый текст */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.error-message ul {
    margin: 5px 0 0 20px;
    padding: 0;
}

.error-message li {
    list-style-type: disc;
}

/* Анимация для кнопки */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Контейнер для страницы восстановления пароля */
/* Рамка для содержимого */
.password-reset-box {
    background-color: #2a2a2a; /* Темный фон */
    padding: 50px; /* Увеличенный padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px; /* Увеличенная ширина */
    width: 100%;
    margin: 0 auto;
    animation: fadeIn 0.5s ease-in-out; /* Плавное появление */
}

/* Заголовок */
.password-reset-box h1 {
    color: #ffcc00; /* Желтый цвет для заголовка */
    margin-bottom: 20px;
    font-size: 24px;
}

/* Группа полей формы */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #ffffff; /* Белый текст */
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555; /* Граница поля */
    border-radius: 5px;
    background-color: #444; /* Темный фон поля */
    color: #ffffff; /* Белый текст */
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #ffcc00; /* Подсветка при фокусе */
    outline: none;
}

/* Пометка обязательных полей */
.required {
    color: #ff4444; /* Красный цвет для обязательных полей */
}

/* Подсказки под полями */
.form-text {
    color: #aaa; /* Серый цвет для подсказок */
    font-size: 12px;
    margin-top: 5px;
}

/* Кнопка "Восстановить пароль" */
.password-reset-button {
    width: 100%;
    padding: 10px;
    background-color: #555; /* Темный фон кнопки */
    color: #ffffff; /* Белый текст */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.password-reset-button:hover {
    background-color: #777; /* Светлее при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Ссылки под формой */
.password-reset-links {
    margin-top: 20px;
    color: #ffffff; /* Белый текст */
    font-size: 14px;
}

.password-reset-links a {
    color: #ffcc00; /* Желтый цвет для ссылок */
    text-decoration: none;
    transition: opacity 0.3s;
}

.password-reset-links a:hover {
    opacity: 0.8; /* Легкое затемнение при наведении */
}

/* Блок для ошибок */
.error-message_password {
    background-color: #ff4444; /* Красный фон */
    color: #ffffff; /* Белый текст */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.error-message ul {
    margin: 5px 0 0 20px;
    padding: 0;
}

.error-message li {
    list-style-type: disc;
}

/* Анимация для кнопки */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*создание поста*/


.post-form {
    background-color: rgba(42, 42, 42, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 80%; /* Ширина формы */
    max-width: 800px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы */
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    color: #ffcc00;
    margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    box-sizing: border-box; /* Учитываем padding и border в ширине */
}

.form-field textarea {
    height: 200px;
    resize: vertical;
}

.error-message-post {
    color: #ff4444;
    font-size: 14px;
    margin-top: 5px;
}

.submit-button {
    background-color: #555;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
    background-color: #777;
    transform: scale(1.05);
}


.profile-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.profile-info {
    flex: 1;
    background-color: rgba(42, 42, 42, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-posts {
    flex: 2;
}

.user-details p {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
}

.post-profile {
    background-color: rgba(42, 42, 42, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.post-profile h3 {
    color: #ffcc00;
    margin-bottom: 10px;
}

.post-profile p {
    color: #fff;
    line-height: 1.6;
}

.post-profile-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}

.post-profile-meta-right {
    text-align: right;
}


/* Основные стили для результатов поиска */
.search-results-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* страница поиска*/

.search-result-item {
    background-color: rgba(42, 42, 42, 0.3);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-result-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.search-result-link {
    color: #ffcc00;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.search-result-link:hover {
    color: #e6b800;
}

.search-result-description {
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    opacity: 0.8;
}

.no-results {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

/* Заголовки разделов */
h2 {
    color: #ffcc00;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}