<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="База данных по Python и фреймворкам">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %}PythonDB</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <script src="{% static 'css/prism.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'icon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'icon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="PythonDB" />
    <link rel="manifest" href="{% static 'icon/site.webmanifest' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}
        Контент не подвезли :(
      {% endblock %}
    </main>
    <footer>
    {% include 'includes/footer.html' %}
    </footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-button");
        const deleteModal = document.getElementById("deleteModal");
        const deleteForm = document.getElementById("deleteForm");
        const cancelButton = document.getElementById("cancelButton");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const postId = this.getAttribute("data-post-id");
                const actionUrl = `{% url 'knowledge_base:delete_post' category_slug=category.slug subcategory_id=subcategory.id post_id=0 %}`.replace("0", postId);
                deleteForm.setAttribute("action", actionUrl);
                deleteModal.style.display = "flex";
            });
        });

        cancelButton.addEventListener("click", function () {
            deleteModal.style.display = "none";
        });

        // Закрытие модального окна при клике вне его
        window.addEventListener("click", function (event) {
            if (event.target === deleteModal) {
                deleteModal.style.display = "none";
            }
        });
    });
</script>
</body>
</html>