{% extends 'base.html' %}
{% block title %}
{{ category.name }} -
{% endblock %}
{% block content %}
<div class="container">
    <!-- Основной контент -->
        <div class="sidebar">
        <h2>Темы в категории:</h2>
        <ul>
            {% for subcategory in subcategories %}
                <li><a href="{% url 'knowledge_base:post' category.slug subcategory.id %}">{{ subcategory.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-content">
        <h1>{{ category.name }}</h1>
        <p>{{ category.description|safe }}</p>
    </div>



</div>
{% endblock %}