{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ category.name }} - {{ subcategory.name }} -
{% endblock %}

{% block content %}
<div class="main-content-edit">
    <h1>Редактирование записи в категории - {{ subcategory.name }}</h1>

    <form method="post" class="post-form">
        {% csrf_token %}
        <div class="form-field">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
                <div class="error-message">{{ form.title.errors }}</div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.content.label_tag }}
            <div class="textarea-container">
                {{ form.content }}
            </div>
            {% if form.content.errors %}
                <div class="error-message-post">{{ form.content.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="submit-button">Сохранить</button>
    </form>
</div>

{% include 'includes/sidebar.html' %}
{% endblock %}